@page
@model WebApplication1.Pages.NekiModel
@{
    ViewData["Title"] = "Neki";
}


<div class="text-center">
    <h1 class="display-4">Neki</h1>
    
    <button type="button" class="btn btn-primary">Click me</button>

</div>
