.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    width: 50%;
    height: auto;
    font-size: 1.5rem;
}
.modal input {
    width: 80%;
    padding: 0.5rem;
    margin-top: 1rem;
    font-size: 1.25rem;
}
.modal button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.25rem;
}

#saveChanges {
    background-color: #49d85a;
    color: white;
    border: none;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

#closeModal{
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 0.5rem;
}

#Color {
    height: 2em;
    padding: 0em;
    cursor: pointer; 
}
