h1 {
    font-family: 'Alfa Slab One';
    font-weight: 400;
    font-size: 4.5rem;
    margin: 0;
}

h2 {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 1em;
    margin-bottom: 0;
    
}
h3 {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    opacity: 0.8;
    margin-bottom: 4em;
}

h4 {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

p {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}

* {
    margin: 0;
}

body {
    margin-right: 5em;
    margin-left: 5em;
}